<%= form_with(model: album) do |form| %>
  <% if album.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :artist, style: "display: block" %>
    <%= form.text_field :artist %>
  </div>

  <div>
    <%= form.label :name_album, style: "display: block" %>
    <%= form.text_field :name_album %>
  </div>

  <div>
    <%= form.label :year_album, style: "display: block" %>
    <%= form.text_field :year_album %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
